.button.nav-item {
    margin-top: 7px;
}

.modalSearchOverlay {
    position: relative;
}

.modalSearchOverlay {
    background: white;
    position: absolute;
    z-index: 99;
    width: 100%;
}

table#dropdown-search {
    width: inherit;
    display: block;
    height: 200px;
    overflow-y: scroll;
}
